body, html {
    height: 100%;
    margin: 0;
}

h3 {
    margin-top: 0;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/font/lato/Lato-Regular.ttf")
}

.innerContent {
    margin: 0 auto;
    width: 80%;
}